<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1de4366-e7f3-411b-a239-00199ce61c65" Alias="Første side" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FoersteSide</Path>
    <Trashed>false</Trashed>
    <ContentType>frontpage1</ContentType>
    <CreateDate>2023-01-18T12:42:45</CreateDate>
    <NodeName Default="Første side" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3a02f9c-5e6c-4317-89b3-509c443eb3dc">frontpage1</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[hey dude]]></Value>
    </title>
  </Properties>
</Content>