@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Frontpage1>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<body style="background-color:powderblue;">

<h1>@Model.Title</h1>
<p>This is a paragraph.</p>

</body>